*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*, *:before, *:after {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}


html, body {
	width: 100%;
	height: 100%;
	color: white;
	background-color: #0d0d0d;
	overflow: hidden;
	-webkit-text-size-adjust: 100%;
}

p {
	width: 20px;
	vertical-align: top;
	font-size: 10px;
	text-align: left;
	-webkit-appearance: none;
	-webkit-user-select: initial !important;
	font-family: Arial;
	color: white;
}

p:empty:not(:focus)::before {
  content: attr(data-placeholder);
  -webkit-user-select: initial !important; 
  font-family: Arial;
  color: white;
}

table {
	width: 100%;
	table-layout: fixed;
	margin: auto;
	
	border-collapse: separate; 
  	border-spacing: 0px 5px;
}	

tbody {
	border-collapse: collapse;
	list-style: none;
	line-height: 1.58;
	text-align: left;
}

th {
	box-sizing: border-box;
	width: 25px;
}

td {
	text-align: left;
}

.container {
	border-radius: 9px;
	width: 100%;
	min-width: 298px;
	padding: 15px 15px 15px 15px;
	background-color: #0d0d0d;
}

.kopfzeile {
	font-size: 12px;
	vertical-align: center;
	
	width: 100%;

}

.td-space {
	width: 25px;
	/* seed text */
	text-align: center;
	vertical-align: middle;
	
	opacity: .6;
	font-size: 12px;
}	

.span-text {
	width: 100%;
	/* player text */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
	max-width: 100%;
	min-width: 0;
	display: block;
	
	font-size: 15px;
}

.td-text {
	box-sizing: border-box;
	width: 100%;
}												

p::first-letter {
	font-size: 15px;
	vertical-align: text-top;
	font-family: Arial;
	color: white;
}



input[type=radio] {
  position: absolute;
  display: none;
}

.page {
	background-image: url('https://artlogic-res.cloudinary.com/w_2400,h_2400,c_limit,f_auto,fl_lossy/artlogicstorage/aubergineart/images/view/41259e92f11c27e84a0f2eafd8d28caep.png');
	background-size: 100%;
	background-color: rgba(255,255,255,0.29);
    	background-blend-mode: lighten;
}

.btt {
	background-color: rgba(255, 255, 255, .0); 
	width: 100%;
	border: 1px solid black;
	color: black;
	padding: 5px; 
	border-radius: 5px;
	font-size: 10px;
	font-family: "Lucida Console", monospace;
	font-weight: bold;
	z-index: 1;
}

.a {
	font-size: 70px; 
    				line-height: 10vh; 
    				color: #7c9443;
            			font-variant: small-caps;
            			font-weight: 900;
}

.b {
	font-size: 70px; 
    				line-height: 10vh; 
    				color: #677e2b;
            			font-variant: small-caps;
            			font-weight: 900;
}

p::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


